{% extends "base.html" %}
{% block title %}
   Список товаров
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
    {% include "inc-menu.html" %}
{% endblock %}
{% block content %}

    <div>
        <a href="/">На главную</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/create-good/?id={{id}}">Создать новый товар</a>
        <br>
        <h1>Список товаров для категории "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/copy-good/?name={{item.name}}">Скопировать товар</a></span>
        </li>
        {% endfor %}
    </div>
     {% include "inc-index-body.html" %}
{% endblock %}
