{% extends "base.html" %}
{% block title %}
    Index page
{% endblock %}
{% block style %}
    {% include "inc-style.html" %}
{% endblock %}
{% block menu %}
    {% include "inc-menu.html" %}
{% endblock %}
{% block content %}
    <a href="/create-category/">Создать новую категорию</a>
    <h1>Список существующих категорий</h1>
    <ul>
        {% for item in objects_list %}
            <li>
                {{ item.name }} <span>Количество товаров: {{ item.good_count() }}</span>
                <a href="/goods-list/?id={{ item.id }}">Показать товары</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <ul>
    <div>
		<li>
			<a href="/buyers-list/">Список покупателей</a>
		</li>
		<li>
			<a href="/create-buyer/">Создать покупателя</a>
		</li>
		<li>
			<a href="/add-buyer/">Добавить подписку покупателя на товар</a>
		</li>
	</div>
    </ul>
    {% include "inc-index-body.html" %}
{% endblock %}
